GOOSE_DRIVER=sqlite3
GOOSE_DBSTRING=replay.db
GOOSE_MIGRATION_DIR=internal/db/migrations

LOG_LEVEL=debug

DB_DRIVER=sqlite
DB_STRING=build/replay.db
EVENT_LOG_PATH="$HOME/.local/share/recall/events.log"
